<h4><%= current_user.username %></h4>

<%= form_for @text_shout do |form| %>
  <%= form.label :body, "Shout Here: " %>
  <%= form.text_field :body %>
  <%= form.submit "Shout" %>
<% end %>
<p>
<%= render @shouts %>
